<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header.ejs %>
</head>
<body>
  <form action="/urls" method="POST" style="margin:150px;">
    <label for="longURL">Enter a URL:</label>
    <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
    <input type="submit" value="Submit">
  </form>
  <table>
    <tr>
      <th>URL</th>
      <th>Short form</th>
    </tr>
    <% for(let key in urls){ %>
      <tr>
        <td><%=urls[key]%></td>
        <td><%=key%></td>
      </tr>
    <%}%>
  </table>
</body>
</html>