<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header.ejs %>
</head>
<body>
  <table>
    <tr>
      <th>URL</th>
      <th>Short form</th>
    </tr>
    <% for(let key in urls){ %>
      <tr>
        <td><%=urls[key]%></td>
        <td><%=key%></td>
      </tr>
    <%}%>
  </table>
</body>
</html>