<!DOCTYPE html>
<html lang="en">
<head>
  
</head>
<body>
  <% if(user_id){ %>
    <p>User: <%= user_id %></p>
    <form action="/logout" method='POST'>
      <input type="submit" value='Logout'>
    </form>
  <% } else {%>
    <a href="/login">Log in</a>
    <% } %>
  <a href="/register">Register</a>
  <form action="/url" method="POST">
    <label for="longURL">Enter a URL:</label>
    <input id="longURL" type="text" name="longURL" value="http://" style="width: 300px">
    <input type="submit" value="Submit">
  </form>

  <div>
    <p>List of urls:</p>
    <ul>
      <% for(let url in urls){ %>
        <li><%= url %> -> <%= urls[url] %>
          <a href='/urls/<%= url %>'>edit</a>
        </li>
      <% } %>
    </ul>
  </div>
</body>
</html>